.btn {
    font-size: 1rem;
    line-height: 1.6;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-block;
    margin: 3px;
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
    @include themify() {
        color: themed('textColor');
        border: 2px solid darken($primary-color, 5%);
        background-color: themed('btnPrimaryBg');

        &:hover {
            @include set-background(darken($primary-color, 15%));
        }
    }
}

.btn-secondary {
    @include themify() {
        color: themed('textColor');
        border: 2px solid darken($secondary-color, 5%);
        background-color: themed('btnSecondaryBg');

        &:hover {
            @include set-background(darken($secondary-color, 15%));
        }
    }
}