$themes: (
  light: (mainBackgroundColor:#fafafa80,
    backgroundColor: #fff,
    textColor: #222,
    btnPrimaryBg: $primary-color,
    btnSecondaryBg: $secondary-color,
    buttonTextColor: #222,
    buttonColor: #fff,
    buttonBorder: 2px solid #fff,
  ),
  dark: (mainBackgroundColor:#222,
    backgroundColor: #222,
    textColor: #ddd,
    btnPrimaryBg: darken($primary-color, 10%),
    btnSecondaryBg: darken($secondary-color, 10%),
    buttonTextColor: #aaa,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
  ),
);